@import "tailwindcss";

@theme {
  --color-indigo-600: #6366f1;
  /* Made slightly more vibrant */
  --color-indigo-700: #4f46e5;
  --color-slate-50: #f8fafc;
  --color-slate-200: #e2e8f0;
  --color-slate-500: #64748b;
  --color-slate-900: #0f172a;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-rose-500: #f43f5e;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
    margin: 0;
  }
}