@import "tailwindcss";

@theme {
  --color-indigo-600: #4f46e5;
  --color-slate-50: #f8fafc;
  --color-slate-200: #e2e8f0;
  --color-slate-500: #64748b;
  --color-slate-900: #0f172a;
  --color-emerald-500: #10b981;
  --color-amber-500: #f59e0b;
  --color-rose-500: #f43f5e;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
    margin: 0;
  }
}
